@define-color fg #c0caf5;

* {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  color: @fg;
}

#custom-logo,
#workspaces,
#clock,
#pulseaudio,
#memory,
#bluetooth,
#network,
#language,
#tray {
  color: @fg;
}

#workspaces {
  margin-left: -6px;
}

#workspaces button {
  padding: 0 6px;
}
