@define-color bg #1e1e2e;
@define-color fg #b4befe;
@define-color red #f38ba8;

* {
  font-family: "JetBrainsMono NF Medium";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg;
  color: @fg;
}

#custom-logo,
#workspaces,
#clock,
#pulseaudio,
#memory,
#bluetooth,
#network,
#language,
#tray {
  color: @fg;
  background: @bg;
  border-radius: 8px;
  padding: 4px 10px;
}

#workspaces button {
  color: @fg;
  padding: 0 4px;
}

#workspaces button.active {
  background: @fg;
  color: @bg;
}

#pulseaudio.muted,
#network.disconnected {
  color: @red;
}
