# Basic
alias ls="lsd"
alias l="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"
alias lta="la --tree --ignore-glob .git"

# Git
alias ga="git add ."
alias gap="git add -p"
alias gc="git commit -m"
alias gs="git status"
alias gp="git push"
alias gf="git fetch"

# Utils
alias vim="nvim"
alias ssh="TERM=xterm-color ssh"
